@mixin flex($jc: space-between, $ai: center,){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    
}
@mixin laptop{
    @media (max-width: 930px){
        @content;
    }
}
@mixin tablet{
    @media (max-width: 768px){
        @content;
    }
}
@mixin mobile{
    @media (max-width: 480px){
        @content;
    }
}